<% content_for :title, "Equipos de Trabajo" %>


<%= render "shared/resource_table", 
       title: "Equipos de Trabajo", 
      collection: @teams,
      new_path: new_team_path, 
      headers: ["Nombre", "Descripción"] do |team| %>

    <tr class="hover:bg-gray-50 transition-colors duration-200">
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= team.description %></div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= team.boss.name %></div>
      </td>
  
      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <div class="flex items-center justify-end space-x-4">
          <%= link_to "Ver", team, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
          <%= link_to "Editar", edit_team_path(team), class: "text-blue-600 hover:text-blue-900 font-semibold" %>
         </div>
      </td>
    </tr>
<% end %>
 
 