<div id="<%= dom_id ticket_product %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= ticket_product.quantity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Observation:</strong>
    <%= ticket_product.observation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ticket:</strong>
    <%= ticket_product.ticket_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= ticket_product.product_id %>
  </div>
</div>
