<div id="<%= dom_id service_type %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Descripcion:</strong>
    <%= service_type.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Activo:</strong>
    <%= service_type.is_active? ? "Sí" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Facturable:</strong>
    <%= service_type.is_billable? ? "Sí" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Equipo de Trabajo:</strong>
    <%= service_type.team.description %>
  </div>
</div>
