 
<% content_for :title, "Tipos de Servicios" %>

<%= render "shared/resource_table", 
      title: "Tipos de Servicios", 
      collection: @service_types,
      new_path: new_service_type_path, 
      headers: ["Nombre", "Equipo", "Facturable", "Activo"] do |service_type| %>

    <tr class="hover:bg-gray-50 transition-colors duration-200">
 
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= service_type.description %></div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-500"><%= service_type.team.description %></div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-500"><%= service_type.is_billable? ? "Sí" : "No" %></div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-500"><%= service_type.is_active? ? "Sí" : "No" %></div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <div class="flex items-center justify-end space-x-4">
          <%= link_to "Ver", service_type, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
          <%= link_to "Editar", edit_service_type_path(service_type), class: "text-blue-600 hover:text-blue-900 font-semibold" %>
          <%= button_to "Eliminar", service_type, method: :delete, class: "text-red-600 hover:text-red-900 bg-transparent border-none p-0 cursor-pointer font-semibold", data: { turbo_confirm: "¿Estás seguro?" } %>
        </div>
      </td>
    </tr>
<% end %>
 