<% content_for :title, "Tickets" %>

<%= render "shared/resource_table", 
       title: "Historial de Tickets", 
       collection: @tickets,
       new_path: new_ticket_path, 
       headers: ["# Ticket", "Título", "Estado", "Ticket Facturable", "Agente Asignado", "Equipo", "Servicio", "Fecha Creación", "Creado Por"] do |ticket| %>

    <tr class="hover:bg-gray-50 transition-colors duration-200">
      <%# 1. Número del Ticket %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm font-semibold text-indigo-600"><%= ticket.id %></div>
      </td>

      <%# 2. Título del Ticket %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800 font-medium"><%= ticket.title %></div>
      </td>

     <%# 3. Estado %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= ticket.status.description %></div>
      </td>
      <%# 3. Estado %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= ticket.billable ? "Si" : "No" %></div>
      </td>
      
 
      
      <%# 4. Agente Asignado %>
      <td class="px-6 py-4 whitespace-nowrap">
        <% if ticket.assigned_to.nil? %>
          <div class="text-sm text-gray-500 italic">No asignado</div>
        <% else %>
          <div class="text-sm text-gray-800"><%= ticket.assigned_to.name %></div>
        <% end %>
      </td>

      <%# 5. Equipo %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= ticket.team.description %></div>
      </td>

      <%# 6. Tipo de Servicio %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= ticket.service_type.description %></div>
      </td>

      <%# 7. Fecha de Creación (con formato) %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= ticket.created_at.strftime("%d/%m/%Y %I:%M %p") %></div>
      </td>

      <%# 8. Creado por %>
      <td class="px-6 py-4 whitespace-nowrap">
        <div class="text-sm text-gray-800"><%= ticket.created_by.name %></div>
      </td>

      <%# Acciones %>
      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <div class="flex items-center justify-end space-x-4">
          <%= link_to "Ver", ticket, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
       </div>
      </td>
    </tr>
<% end %>