<%= form_with(model: ticket_status_log, class: "contents") do |form| %>
  <% if ticket_status_log.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(ticket_status_log.errors.count, "error") %> prohibited this ticket_status_log from being saved:</h2>

      <ul class="list-disc ml-6">
        <% ticket_status_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :observation %>
    <%= form.text_area :observation, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ticket_status_log.errors[:observation].none?, "border-red-400 focus:outline-red-600": ticket_status_log.errors[:observation].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ticket_status_log.errors[:user_id].none?, "border-red-400 focus:outline-red-600": ticket_status_log.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ticket_id %>
    <%= form.text_field :ticket_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ticket_status_log.errors[:ticket_id].none?, "border-red-400 focus:outline-red-600": ticket_status_log.errors[:ticket_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :previous_status_id %>
    <%= form.text_field :previous_status_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ticket_status_log.errors[:previous_status_id].none?, "border-red-400 focus:outline-red-600": ticket_status_log.errors[:previous_status_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :new_status_id %>
    <%= form.text_field :new_status_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": ticket_status_log.errors[:new_status_id].none?, "border-red-400 focus:outline-red-600": ticket_status_log.errors[:new_status_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
